In [5]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

df = pd.read_excel("./data/1st_Phase_-_Selective_Process_-_Data_Science_-_DataBase.xlsx")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              80 non-null     int64
 1   EDUCAÇÃO        80 non-null     object
 2   CARGO           80 non-null     object
 3   LOCAL           80 non-null     object
 4   IDADE           80 non-null     int64
 5   TEMPOCASA       80 non-null     int64
 6   SALARIO_MENSAL  80 non-null     float64
dtypes: float64(1), int64(3), object(3)
memory usage: 4.5+ KB

In [6]:
def inferir_tipo_variavel(dataset):
    """
    Args:
        dataset (pd.DataFrame): É um dataset em formato de dataframe 
    """
    tipos = []
    
    for coluna in dataset.columns:
        unique_vals = df[coluna].unique()
        if dataset[coluna].dtype == 'object' or len(unique_vals) < len(dataset) * 0.05:
            tipos.append((coluna, 'Categórica'))
        else:
            tipos.append((coluna, 'Numérica'))
    
    return pd.DataFrame(tipos, columns=['Variável', 'Tipo'])

inferir_tipo_variavel(df)

         Variável        Tipo
0              ID    Numérica
1        EDUCAÇÃO  Categórica
2           CARGO  Categórica
3           LOCAL  Categórica
4           IDADE    Numérica
5       TEMPOCASA    Numérica
6  SALARIO_MENSAL    Numérica

In [8]:
# Dividindo o DataFrame em dois grupos com base no local de estudo
salarios_capital = df[df['LOCAL'] == 'CAPITAL']['SALARIO_MENSAL']
salarios_interior = df[df['LOCAL'] == 'INTERIOR']['SALARIO_MENSAL']

# Realizando o teste t de Student
t_statistic, p_value = ttest_ind(salarios_capital, salarios_interior)

# Imprimindo os resultados
print("Estatística do teste t:", t_statistic)
print("Valor p:", p_value)

# Conclusão com base no valor p
if p_value < 0.05:
    print("Há uma diferença estatisticamente significativa nos salários entre os grupos.")
else:
    print("Não há uma diferença estatisticamente significativa nos salários entre os grupos.")

Estatística do teste t: 2.969717893005732
Valor p: 0.003959288437224028
Há uma diferença estatisticamente significativa nos salários entre os grupos.